
[kdcdefaults]
  kdc_ports = 88
  kdc_tcp_ports = 88

[realms]
  <%= kerberos_realm %> = {
    database_name = /srv/kerberos/db.<%= kerberos_realm %>
    key_stash_file = /srv/kerberos/.k5.<%= kerberos_realm %>
    max_life = 24h 0m 0s
    max_renewable_life = 7d 0h 0m 0s
    master_key_type = aes256-cts-hmac-sha1-96
    supported_enctypes = aes256-cts-hmac-sha1-96:normal
  }

