protocols = imaps
disable_plaintext_auth = yes
ssl_cert_file = <%= dovecot_ssl_dir %>/certs/dovecot.crt
ssl_key_file = <%= dovecot_ssl_dir %>/private/dovecot.key
<% if has_variable?('dovecot_ssl_ca') -%>
ssl_ca_file = <%= dovecot_ssl_dir %>/certs/dovecot.ca.crt
<% end -%>
login_chroot = yes
login_user = dovecot
login_max_processes_count = 256
namespace private {
   prefix = 
   location = mbox:~/imapmail/:INBOX=/var/mail/%u
   inbox = yes
}
protocol imap {
  mail_plugins = zlib
}
  
protocol pop3 {
}
protocol lda {
  postmaster_address = postmaster@<%= dovecot_mail_domain %>
}
auth default {
  mechanisms = plain
  passdb pam {
  }
  userdb passwd {
  }
  user = root
}
dict {
}
plugin {
}
