ca <%= openvpn_ca %>
cert <%= puppet_ssldir %>/certs/<%= homename %>.pem
cipher AES-256-CBC
comp-lzo
dev tun
key <%= puppet_ssldir %>/private_keys/<%= homename %>.pem
port <%= openvpn_port %>
pull
remote <%= openvpn_server %>
route-delay 2
route-method exe
tls-auth <%= openvpn_ta %> 1
tls-client
verb 4
