<Configuration>
  <UPnP>
    <MythFrontend>
      <DefaultBackend>
        <DBHostName><%= mythtv_dbhost -%></DBHostName>
        <DBUserName><%= mythtv_dbuser -%></DBUserName>
        <DBPassword><%= mythtv_dbpass -%></DBPassword>
        <DBName><%= mythtv_dbname -%></DBName>
        <DBPort>3306</DBPort>
      </DefaultBackend>
    </MythFrontend>
  </UPnP>
</Configuration>
