<% if proto == 'dhcp' -%>
dhcp NONE NONE NONE<% options.each do |val| %> <%= val %><% end %>
<% elsif proto == 'none' -%>
up
<% else -%>
inet <%= ipaddr %> <%= netmask %> NONE<% options.each do |val| %> <%= val %><% end %>
<% end -%>
<% if ip6addr == 'auto' -%>
rtsol
<% elsif ip6addr != 'none' -%>
inet6 alias <%= ip6addr %> <%= ip6netmask %>
<% end -%>
<% postcmd.each do |val| -%>
!<%= val %>
<% end -%>
