inet 0.0.0.0 255.255.255.255 NONE pppoedev <%= device -%> authproto <%= authtype -%> authname '<%= username -%>' authkey '<%= password %>' up
dest 0.0.0.1
!/sbin/route -qn delete default
!/sbin/route add default -ifp pppoe0 0.0.0.1
