#!/bin/bash

NETWORK_IFC="<%= interface_real %>"
CAPTURE_DIR="/var/lib/recorder/<%= name %>"
SNAPLEN="<%= snaplen %>"
KEEPTIME="<%= keeptime %>"
BLOCKSIZE="<%= blocksize %>"
FILTER="<%= filter %>"
OPTIONS="<%= probeopt %>"

. /etc/clarified/clarified-functions
