#!/bin/bash

CAPTURE_DIR="/var/lib/recorder/<%= name %>"
PRIVATE_CERT="<%= puppet_ssldir %>/private_keys/<%= homename %>.pem"
PUBLIC_CERT="<%= puppet_ssldir %>/certs/<%= homename %>.pem"
PORT="<%= remoteport %>"
COLLAB="<%= collab.join(" ") %>"
OPTIONS="<%= remoteopt %>"

. /etc/clarified/clarified-functions
