;
; BIND data file for <%= zone %>
;
;
$TTL    3600
$ORIGIN <%= zone %>.
<% master.each_pair do |k, v| %>
@      IN      SOA     <%= v['ns'] %>. hostmaster.<%= zone %>. (
                         <%= Time.now.to_i %> ; Serial
                           3600         ; Refresh
                           7200         ; Retry
                         604800         ; Expire
                          86400 )       ; Negative Cache TTL
;
@      IN      NS      <%= v['ns'] %>.
<% end -%>
<% slaves.each_pair do |k, v| -%>
@      IN      NS      <%= v['ns'] %>.
<% end -%>
<% if zone.match(/\//) %>
$INCLUDE <%= zonedir %>/db.<%= zone.sub(/\//, '-') %>-dynamic
$INCLUDE <%= zonedir %>/db.<%= zone.sub(/\//, '-') %>-static
<% else %>
$INCLUDE <%= zonedir %>/db.<%= zone %>-dynamic
$INCLUDE <%= zonedir %>/db.<%= zone %>-static
<% end -%>
