key "<%= zone %>" {
    algorithm <%= keytype %>;
    secret "<%= key %>";
};

zone "<%= zone %>" {
    type master;
<% if zone.match(/\//) -%>
    file "<%= zonedir %>/db.<%= zone.sub(/\//, '-') %>";
<% else -%>
    file "<%= zonedir %>/db.<%= zone %>";
<% end -%>
    allow-transfer {
<% if slaves != [] -%>
<%     slaves.each_pair do |k, v| -%>
        <%= v['ip'] %>;
<%     end -%>
<% else -%>
        nameservers;
<% end -%>
    };
    allow-update {
        key <%= zone %>;
    };
};
