zone "<%= zone %>" {
    type slave;
<% if zone.match(/\//) %>
    file "<%= zonedir %>/db.<%= zone.sub(/\//, '-') %>";
<% else -%>
    file "<%= zonedir %>/db.<%= zone %>";
<% end -%>
    masters { <%= master %>; };
    allow-transfer { none; };
};
