# amanda.conf - sample Amanda client configuration file.
#
# This file normally goes in /etc/amanda/amanda-client.conf.
#

index_server	"<%= amanda_server %>"
tape_server 	"<%= amanda_server %>"
auth		"ssh"
ssh_keys	"/var/lib/amanda/.ssh/id_rsa_amrecover"
