[<%= name %>]
name=<%= descr_real %>
enabled=<% if status == 'disable' %>0<% else %>1<% end %>
<% if baseurl != '' -%>
baseurl=<%= baseurl %>
<% else -%>
mirrorlist=<%= mirrorlist %>
<% end -%>
<% if gpgkey_real != '' -%>
gpgcheck=1
gpgkey=<%= gpgkey_real %>
<% else -%>
gpgcheck=0
<% end -%>
