# Location of the main manifest
#PUPPETMASTER_MANIFEST=/etc/puppet/manifests/site.pp

# Where to log general messages to.
# Specify syslog to send log messages to the system log.
#PUPPETMASTER_LOG=syslog

# You may specify an alternate port or an array of ports on which 
# puppetmaster should listen. Default is: 8140
# If you specify more than one port, the puppetmaster ist automatically
# started with the servertype set to mongrel. This might be interesting
# if you'd like to run your puppetmaster in a loadbalanced cluster.
# Please note: this won't setup nor start any loadbalancer. 
# If you'd like to run puppetmaster with mongrel as servertype but only
# on one (specified) port, you have to add --servertype=mongrel to
# PUPPETMASTER_EXTRA_OPTS.
# Default: Empty (Puppetmaster isn't started with mongrel, nor on a 
# specific port)
#
# Please note: Due to reduced options in the rc-functions lib in RHEL/Centos
# versions prior to 5, this feature won't work. Fedora versions >= 8 are 
# known to work.
#PUPPETMASTER_PORTS=""
# Puppetmaster on a different port, run with standard webrick servertype
#PUPPETMASTER_PORTS="8141"
# Example with multiple ports which will start puppetmaster with mongrel
# as a servertype
PUPPETMASTER_PORTS=( <% puppet_listenports.each do |port| -%><%= port -%> <% end %>)

# You may specify other parameters to the puppetmaster here
#PUPPETMASTER_EXTRA_OPTS=--noca
