# sample ntpd configuration file, see ntpd.conf(5)

# Addresses to listen on (ntpd does not listen by default)
listen on *

# sync to a single server
#server ntp.example.org

# use a random selection of NTP Pool Time Servers
<% ntp_server.each do |server| -%>
servers <%= server %>
<% end -%>

# use a specific local timedelta sensor (radio clock, etc)
#sensor nmea0

# use all detected timedelta sensors
#sensor *
