#
# LDAP Defaults
#

# See ldap.conf(5) for details
# This file should be world readable but not world writable.

BASE		<%= ldap_basedn %>
URI		<% ldap_server.each do |uri| %><%= uri %> <% end %>
TLS_REQCERT	never
