<% if has_variable?("apache_proxy_allow") -%>
ProxyRequests On
ProxyVia On

<Proxy *>
  Order deny,allow
  Deny from all
  Allow from <%= apache_proxy_allow %>
</Proxy>
<% else -%>
ProxyRequests Off
<% end -%>
